* {
    margin: 0;
}

body {
    background: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

img {
    /* display: block; */
    width: 100%;
    border-radius: 10px;
}

h1 {
    padding: 12px;
    text-align: center;
    color: #123951;
}

.container p {
    padding: 0 15px 20px 15px;
    text-align: center;
    color: #94959e;
    font-size: 15px;
}

a {
    margin-left: 2.5px;
}

a+a {
    text-decoration: none;
}

.container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qr-code {
    max-width: 300px;
    margin: 0 auto;
    border-radius: 15px;
    background: hsl(0, 0%, 100%);
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
}

.attribution {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

@media(max-width: 600px) {
    .qr-code {
        max-width: 200px;
        max-height: 400px;
    }

    h1 {
        font-size: 20px;
    }
}

@media (max-height: 534px) {
    .attribution {
        display: none;
    }
    .container {
        display: block; 
    }
}